{{!--  
Author: Unique Ratliff
Date: 11/26/2020
Description: An interactive message board that allows for user
    account functionality
  --}}
  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warning Watchers</title>

    <link rel="stylesheet" href="../../static/style.css">
     <!-- Bootstrap CSS file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">



<!-- NavBar from Bootstrap https://getbootstrap.com/docs/4.1/components/navbar/ -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Warning Watchers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <img src="img/main-logo-transp.png" class="rounded float-left" alt="logo" width="50" height="50">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/team-bio">Meet the Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/movies">Movies</a>
        </li>
{{!--         <li class="nav-item">
          <a class="nav-link" href="/categories">Categories</a>
        </li>
 --}}
      </ul>
    </div>


    <!--- ==== Search Bar ==== -->
    <!-- <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
      <i class="fas fa-search" aria-hidden="true"></i>
      <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
        aria-label="Search">
    </form> -->

    <!-- NavBar button that will lead user to Account details -->
    {{#if user}}
    <a class="nav-link" href="../account" style="justify-content: right;">Account</a>
    <a class="nav-link" href="../logout" style="justify-content: right;">Logout</a>
    {{/if}}
    </div>
  </nav>
</head>
<body>
    {{{body}}}
</body>
    
<!-- JS files: jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</html>