{{!--  
Author: Sammy Romero
Date: 12/1/2020
Description: Transitioning everything from html to handlebars
  --}}
<link rel="stylesheet" href="/static/style.css">
<body>
    <main class= "contentContainer" role= "main">
        <div class= "style">
          <!-- ==== Photo Header ==== -->

                <div class="container">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Category #1</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Mini Category Description</h6>
                        </div>
                      </div>
                </div>

                <div class="container">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Category #2</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Mini Category Description</h6>
                          </div>
                      </div>
                </div>

                <div class="container">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Category #3</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Mini Category Description</h6>
                          </div>
                      </div>
                </div>

            </div>
        </div>
    </main>
</body>