 <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/team-bio.css">
<body>
    <main class= "contentContainer" role= "main">
        <div class= "index">
          <!-- ==== Photo Header ==== -->

                <div class="container">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Movie #1</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Mini Movie Description</h6>
                          <p class="card-text">(Movie Warnings to hyperlinks to posts detailing category warnings)</p>
                          <a href="#" class="card-link">IMBD Link</a>
                          <a href="#" class="card-link">Report</a>
                        </div>
                      </div>
                </div>

                <div class="container">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Movie #2</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Mini Movie Description</h6>
                          <p class="card-text">(Movie Warnings to hyperlinks to posts detailing category warnings)</p>
                          <a href="#" class="card-link">IMBD Link</a>
                          <a href="#" class="card-link">Report</a>
                        </div>
                      </div>
                </div>

                <div class="container">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Movie #3</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Mini Movie Description</h6>
                          <p class="card-text">(Movie Warnings to hyperlinks to posts detailing category warnings)</p>
                          <a href="#" class="card-link">IMBD Link</a>
                          <a href="#" class="card-link">Report</a>
                        </div>
                      </div>
                </div>

            </div>
        </div>
    </main>
</body>