{{!--  
Author: Sammy Romero
Date: 12/1/2020
Description: Transitioning everything from html to handlebars
  --}}
<link rel="stylesheet" href="/static/register.css">
<body>
    <main class= "contentContainer" role= "main">
        <div class= "index">
            <div class= "container" > 
                {{#if error}}
                <div class="alert alert-danger center-block" style="width: 80%; margin-left: 10%;" role="alert"> <i class="fa fa-exclamation-triangle" aria-hidden="true">                  
                  {{error}}
                  </div>
                {{/if}}
            </div>

                <!-- Registration Form from https://www.w3schools.com/howto/howto_css_register_form.asp -->
                <form action="/register" method="POST">
                    <div class="container">
                      <br>
                      <h1>Register</h1>
                      <p><i>Please fill in this form to create an account.</i></p>
                      <hr>
                  
                      <div for="username"><h4><b>Username</b></h4></label>
                      <input type="text" placeholder="Enter Username" name="username" id="username" required>

                      <div for="email"><h4><b>Email</b></h4></label>
                      <input type="text" placeholder="Enter Email" name="email" id="email" required>
                  
                      <label for="psw"><h4><b>Password</b></h4></label>
                      <input type="password" placeholder="Enter Password" name="password" id="password" required>
                  
                      <label for="psw-repeat"><h4><b>Repeat Password</b></h4></label>
                      <input type="password" placeholder="Repeat Password" name="password2" id="password2" required>
                      <hr>
                  
                      <p><i>By creating an account you agree to our <a href="https://policies.google.com/privacy?hl=en-US">Terms & Privacy</i></a>.</p>
                      <button type="submit" class="registerbtn">Register</button>
                    </div>
                  
                  <br>
                    <div class="container signin">
                      <p>Already have an account? <a href="index.html">Sign in</a>.</p>
                    </div>
                  </form>                 
            </div>
        </div>
    </main>
</body>