{{!--  
Author: Unique Ratliff
Date: 11/26/2020
Description: An interactive message board that allows for user
    account functionality
  --}}

{{#if error}}
<div style="background: red; color: white;">
    {{error}}
</div>
{{/if}}

<ul class="header-ul">
    <li class="header-li"><a href="/">home</a></li>
    <li class="header-li"><a href="/login">login</a></li>
</ul class="header-ul">


<div class="login-form">
    <h1 class="text-center">Register</h1>
    <form action="/register" method="POST" class="text-center">
        <input type="text" placeholder="username" name="username" /><br><br>
        <input type="email" placeholder="email" name="email" /><br><br>
        <input type="password" placeholder="password" name="password" /><br><br>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">register</button>
        </div>
    </form>
</div>