 <link rel="stylesheet" href="/static/team-bio.css">
<body>
    <main class= "contentContainer" role= "main">
        <div class= "index">
            <div class= "aboutUsHeader">
                <img src="https://images.unsplash.com/photo-1516321318423-f06f85e504b3?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80 " class="img-fluid-header">
                <div class= "container"> 
                   <div class= "header">
                       <h1><div class="centered">Meet the Team.</div></h1>
                       <div class="bottom-right">Photo by John Schnobrich on Unsplash</div>
                   </div>
                </div>
                <div class= "container">
                    
                    <!-- ==== TEAM BIO CARDS ==== -->
                    <!-- ROW ONE -->
                    <div class="container"> 
                        <div class="row"> 
                            <div class="col-lg-6 mb-4"> 
                                <div class="card"> 
                                    <img src="../img/Lienna.jpg" class="img-fluid" alt="Lienna">
                                    <div class="card-body"> 
                                        <h5 class="card-title">Lienna Tieu</h5> 
                                        <p class="title">Front End</p>
                                        <p class="card-text"> Informatics major with focus in Geo-Informatics and a certificate in Geographic Information Systems. Graduating in May 2022. I like to design things to make information and data easier to understand. 
                                        </p> 
                                    </div> 
                                </div> 
                            </div> 

                            <div class="col-lg-6 mb-4"> 
                                <div class="card"> 
                                    <img src="../img/Unique.jpg" alt="Unique" class="img-fluid">
                  
                                    <div class="card-body"> 
                                        <h5 class="card-title">Unique Ratliff</h5> 
                                        <p class="title">Front End</p>
                                        <p class="card-text"> 
                                            I’m a computer science major graduating (fingers-crossed) Spring 2021. I’ve always enjoyed web development and am interested in UI/UX/HCI. 
                                        </p> 
                                            </div> 
                                </div> 
                            </div> 
                        </div> 
                    </div> 

                    <!-- ROW TWO -->
                    <div class="container"> 
                        <div class="row"> 
                            <div class="col-lg-6 mb-4"> 
                                <div class="card"> 
                                    <img src="../img/Jacob.jpg" alt="Jacob" class="img-fluid">
                                    <div class="card-body"> 
                                        <h5 class="card-title">Jacob Melendrez</h5> 
                                        <p class="title">Back End</p>
                                        <p class="card-text"> Informatics major and recently switched to a digital culture focus area. Hopefully graduating in Dec 2021. I like to program useful things to help me with my hobbies (DnD, video games, cards, design, etc.)
                                        </p> 
                                    </div> 
                                </div> 
                            </div> 

                            <div class="col-lg-6 mb-4"> 
                                <div class="card"> 
                                    <img src="../img/Kai.jpg" alt="Kai" class="img-fluid">
                  
                                    <div class="card-body"> 
                                        <h5 class="card-title">Kai Sanford</h5> 
                                        <p class="title">Back End</p>
                                        <p class="card-text"> 
                                            Informatics Major graduating hopefully by Spring 2022. No real experience, but my interests are in UX and Game Development
                                        </p> 
                                            </div> 
                                </div> 
                            </div> 
                        </div> 
                    </div> 

                    <!-- ROW THREE -->
                    <div class="container"> 
                        <div class="row"> 
                            <div class="col-lg-6 mb-4"> 
                                <div class="card"> 
                                    <img src="../img/Sammy.jpg" alt="Sammy" class="img-fluid">
                                    <div class="card-body"> 
                                        <h5 class="card-title">Sammy Romero</h5> 
                                        <p class="title">Integration</p>
                                        <p class="card-text"> Informatics major hopefully graduating in Spring 2022. No specific focuses or experience, but many of my hobbies involve the internet, programming, and databases (video games, esports, online media). Those are what have drawn me into the field.
                                        </p> 
                                    </div> 
                                </div> 
                            </div> 

                            <div class="col-lg-6 mb-4"> 
                                <div class="card"> 
                                    <img src="../img/Nate.png" alt="Nate" class="img-fluid">
                  
                                    <div class="card-body"> 
                                        <h5 class="card-title">Nate Renfro</h5> 
                                        <p class="title">Integration</p>
                                        <p class="card-text"> 
                                            I’m an Informatics major hoping to graduate in the spring of 2022. I’ve got experience in full stack web development and my interests lie in both web and video game development.
                                        </p> 
                                            </div> 
                                </div> 
                            </div> 
                        </div> 
                    </div> 

                </div>

</body>